.navBar{
  background-color: brown;
  display: flex;
  justify-content: space-around;
  color:white;
  text-decoration: none;
  font-size: 30px;
}
a:active{
  color:white;
  text-decoration: none;

}
a:hover{
  color:cadetblue;
  text-decoration: none;

}